


#to-do-form button {
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    border-radius: 3rem;
    color: white;
    border-color: white;
    box-shadow: 5px 6px 10px rgba(45,84,94, 0.6)
}


#to-do-form input{
    font-size: 1rem;
    margin: 1rem 1rem;
}
#to-do-form input::placeholder {
    background-color: white;
    font-size: 1rem;
    color: black;
    padding: 1rem 2rem;

}
